* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, sans-serif;

}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: rgb(107, 169, 226);
}

h1 {
    font-family: Gill Sans;
    color:rgb(192, 192, 17) !important;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    /* flex-wrap: nowrap; */
    /* min-height: 100vh; */
    /* background-color: rgb(107, 169, 226); */
}

.flex-form {
    height: 50px;
    width: 275px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    margin: auto;
    flex-grow: 1;
}
.flex-form > button {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: nowrap;
    background-color: rgb(87, 161, 116);
}
.flex-container > div {
    display: flex;
    flex-direction: column;
    background-color: #4f0404;
    width: 80%;
    height: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-self: center; 
}
.flex-container > button {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: #88d0f1;
    width: 35%;
    height: 25%;
    margin: 5px;
    /* align-items: flex-end; */
    flex-wrap: wrap;
    font-size: 15px;
}
/*
.flex-container > form {
    background-color: #916464;
    
    width: 80%;
    height: 10%;
    margin: auto;
    text-align: flex-right;
    line-height: 50px;
    font-size: 30px;
}
.flex-container > input {
    
    background-color: #ffffff;
    text-align: flex-left;
    flex-wrap: wrap;
} */

/* .flex-container > form > button {
    /* align-self: flex-end; */
/* display: flex; */
/* flex-direction: column !important; */
/* align-content: flex-end ;
flex-wrap: wrap; */
/* } */